body {
  background: #6fd8e0;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  margin: 22px 0;
}

h1,
p {
  text-align: center;
}

p {
  margin: 16px 0;
}

p,
a,
footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

footer {
  text-align: center;
}

a {
  color: green;
  margin-right: 10px;
  text-align: center;
  text-decoration: underline;
}

.homemade-croissant {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

mail {
  color: blue;
  text-decoration: underline;
}
